@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Work+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Work Sans", sans-serif;
    background-color: #f9f9f9;
}

.principal{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
}

.cabecalho{
    text-align: center;

}


.cabecalho-titulo{
    font-family: "Fjalla One", sans-serif;
}

.formulario{
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
}

fieldset{
    border: 2px solid #cccccc;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario-check-radio{
    display: flex;
    gap: 10px;
}

.formulario-textarea{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario-botoes{
    display: flex;
    gap: 10px;
}

button{
    padding: 10px 40px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #b6b5b5;
}

input, select, textarea{
    border-radius: 5px;
}


